@model theatre.Models.IndexViewModel
<div>
    <div class="jumbotron">
        <h1>Welcome to the Local Theatre Group Website!</h1>
        <img src="~/Content/Local_Theatre_Company_Logo.jpg" height="200" width="400" style="text-align: center" />
    </div>
    <div class="jumbotron">
        <h2> See The Latest Blog Post</h2>
        <article>article</article>
    </div>
    <div>
        <a class="twitter-timeline" href="https://twitter.com/CofGCollege?ref_src=twsrc%5Etfw">Tweets by CofGCollege</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>